:root {
  --pink-color: #fbdfdb;
  --black-color: #111;
  --grey-color: #7b7b7b;
  --light-grey-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 900px;
  margin: 0 auto 3rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}

header .logo {
  font-size: 2rem;
  font-weight: 600;
  flex: 1;
  color: var(--black-color);
}

header nav {
  font-size: 1.2rem;
  flex: 2;
}

header nav a {
  padding: 0.5rem 1rem;
  color: var(--black-color);
}

header nav a:hover {
  font-weight: 700;
}

.banner {
  padding: 7rem 3rem;
  background: var(--pink-color);
  border-radius: 30px;
  background-image: url(assets/chef.png);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  margin-bottom: 3rem;
}

.banner .banner_content {
  max-width: 350px;
}

.banner .banner_content h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: 0.6rem;
}

.banner .banner_content p {
  font-size: 1.2rem;
}

h2,
h3 {
  color: var(--black-color);
}

main .recipes {
  margin: 1.875rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.recipe {
  cursor: pointer;
}

.recipe img {
  width: 100%;
}

main.about h2,
main.about h3,
main.about p {
  margin-bottom: 1.2rem;
}

footer {
  background: var(--light-grey-color);
  color: var(--grey-color);
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

/*Modal*/
.modal_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.modal_overlay.show {
  opacity: 1;
  visibility: visible;
}
.modal {
  background: #fff;
  width: 40%;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
}

.modal_close {
  margin-top: 1rem;
  cursor: pointer;
}
