{% extends "layout.njk"%}



    {% block head %}
    <title>Foodfy | Home</title>
    {% endblock %}

{% block content %}
      <section class="banner">
        <div class="banner_content">
          <h1>As melhores receitas</h1>
          <p>
            Aprenda a construir os melhores pratos com receitas criadas por
            profissionais do mundo enteiro.
          </p>
        </div>
      </section>

      <main>
        <h2>Mais acessadas</h2>
      <section class="recipes">
        {% for recipe in recipes %}
          <div class="recipe" id="{{ loop.index0 }}">
           <div class="recipe_img">
              <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
            </div>
            <div class="recipe_info">
              <h3>{{ recipe.title }}</h3>
              <small>{{ recipe.author }}</small>
            </div>
          </div>

          {% endfor %}
        </section>
      </main>
      {% endblock %}
   {% block scripts %}
<script src="/scripts.js"></script>
    {%endblock%}