    {% extends "layout.njk" %}
    {% block head %}
    <title>Foodfy | Receitas</title>

    {%endblock%}
  
{% block content%}
      <main>
       <section class="recipes">
        {% for recipe in recipes %}
          <div class="recipe" id="{{ loop.index0 }}">
           <div class="recipe_img">
              <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
            </div>
            <div class="recipe_info">
              <h3>{{ recipe.title }}</h3>
              <small>{{ recipe.author }}</small>
            </div>
          </div>

          {% endfor %}
        </section>
      </main>
      {% endblock %}
    {% block scripts %}
<script src="/scripts.js"></script>
    {%endblock%}