{% extends "layout.njk" %}

{% block content %}

<div id="profile">
      <img
        src="{{ profile.image }}"
        alt="Profile pics"
      />
      <h1>{{ profile.name }}</h1>
      <p>
        {{ profile.about }}
      </p>
      <div id="social">
        {% for link in profile.links %}
        <a href="{{ link.url }}">{{ link.name }}</a>
        {% endfor %}
      </div>
    </div>

    {% endblock %}
