{% extends "layout.njk" %}

{% block content %}

<div id="profile">
      <img
        src="https://github.com/rocketseat-education.png"
        alt="Profile pics"
      />
      <h1>Rocketseat Education</h1>
      <p>
        Organização que armazena o código das aplicações e desafios dos
        bootcamps e de cursos gratuitos da Rocketseat 🚀
      </p>
      <div id="social">
        <a href="https://www.github.com/yasmink88">Github</a>
        <a href="https://www.linkedin.com/in/yasminkhalaf">Linkedin</a>
        <a href="https://www.instagram.com/yasminkhalaf88">Instagram</a>
      </div>
    </div>

    {% endblock %}
