{% extends "layout.njk" %}

{% block head %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Rocketseat | Conteudos</title>
   {% endblock %}

   {% block content %}
    <main>
      <h1>Conteúdos</h1>

      <section class="cards">
        <div class="card_container" id="mapas-com-react-usando-leaflet">
          <div class="card_img">
            <img
              src="https://blog.rocketseat.com.br/content/images/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg"
              alt="Mapas com React usando Leaflet"
            />
          </div>
          <div class="card_content">
            <h2>Mapas com React usando Leaflet</h2>
            <p>Thiago Marinho</p>
            <div class="card_info">
              <small>11 mins</small>
            </div>
          </div>
        </div>
        <div
          class="card_container"
          id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida"
        >
          <div class="card_img">
            <img
              src="https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg"
              alt="Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida"
            />
          </div>
          <div class="card_content">
            <h2>
              Dark Mode com CSS — mudando a aparência do Blog de maneira simples
              e rápida
            </h2>
            <p>Thiago Marinho</p>
            <div class="card_info">
              <small>3 mins</small>
            </div>
          </div>
        </div>
        <div class="card_container" id="es11-novas-features-do-javascript">
          <div class="card_img">
            <img
              src="https://blog.rocketseat.com.br/content/images/2020/09/es11-novas-features-do-javascript.png"
              alt="ES11 - Novas features do JavaScript"
            />
          </div>
          <div class="card_content">
            <h2>ES11 - Novas features do JavaScript</h2>
            <p>Thiago Marinho</p>
            <div class="card_info">
              <small>8 mins</small>
            </div>
          </div>
        </div>
      </section>
    </main>
<div class="modal_overlay">
      <div class="modal">
        <a class="modal_close"><i class="material-icons">close</i></a>
        <a class="modal_fullscreen"><i class="material-icons">fullscreen</i></a>
        <div class="modal_content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
<script src="/scripts.js"></script>
{% endblock %}