{% extends "layout.njk" %}

{% block head %}
    
    <title>Rocketseat | {{ post.title }} </title>
  
   {% endblock %}

   {% block content %}
    <main>
      
     

      <section class="course">
         <h1>{{ post.title }}</h1>
        <iframe src="https://blog.rocketseat.com.br/{{ post.id }}" frameborder="0"></iframe>
     
      </section>
    </main>
{% endblock %}