{% extends "layout.njk" %}

{% block head %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Rocketseat | Conteudos</title>
   {% endblock %}

   {% block content %}
    <main>
      <h1>404!</h1>
<h2>Ooops. The page you are looking for doesn't exist!</h2>
    
    </main>


{% endblock %}