{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="image" style="background: url(https://source.unsplash.com/collection/4821422/900) no-repeat
    top center / cover;">
    </section>
    <section class="info">
        <h2>Details</h2>
        <div class="item">
            <h3>Full Name</h3>
            <p>Yasmin Khalaf</p>
        </div>
        <div class="item">
            <h3>Age</h3>
            <p>33</p>
        </div>
        <div class="item">
            <h3>Education</h3>
            <p>Bachelor's Degree</p>
        </div>
        <div class="item">
            <h3>Class type</h3>
            <p>
                <span>Online</span>
                <span>Physical</span>
            </p>
        </div>
        <div class="item">
            <h3>Subjects</h3>
            <p>Math, Science</p>
        </div>
        <div class="item">
            <h3>Since</h3>
            <p>02/02/2021</p>
        </div>
    </section>
</div>
{% endblock content %}