:root {
  --color-yellow: #f66926;
  --color-primary: #427c7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  background: var(--color-primary);
  font-family: "Roboto", serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.4rem;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

header {
  padding: 1.5rem;
  border-bottom: 1px solid var(--color-yellow);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 200px;
  flex-wrap: wrap;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.75rem;
  position: relative;
}

header nav a:hover {
  color: var(--color-yellow);
}

header nav a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-yellow);
  position: absolute;
  bottom: -2px;
  left: 0;
}
header nav a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

header nav a.active {
  color: var(--color-yellow);
}

.card {
  width: 800px;
  min-height: 500px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 40% 60%;
  animation: up 1s ease-in-out;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
  }
}

.card section {
  background: white;
}

.card section,
.card form {
  background: white;
}

.info {
  padding: 2rem;
}

.info .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.info .item:last-child {
  border-bottom: none;
}

.info .item h3 {
  color: #5a5a5a;
  font-size: 0.8rem;
  font-weight: 400;
}

.info .item p {
  color: var(--color-primary);
  font-weight: 700;
}

.info h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
  font-size: 1rem;
}

.info p span {
  padding: 0.3rem 1rem;
  background-color: var(--color-primary);
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: #fff;
}

/*FORM*/

form input,
select {
  width: 100%;
  outline: none;
  border: none;
  color: var(--color-primary);
  font-weight: 700;
}

input[type="radio"] {
  top: 0.1rem;
  position: relative;
  width: initial;
}

button[type="submit"],
a.btn_edit {
  padding: 0.6rem 1.3rem;
  background: var(--color-yellow);
  border: none;
  margin-top: 1rem;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  color: white;
}

a.btn_edit {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
}
