:root {
  --color-yellow: #f66926;
  --color-grey: #282a36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  background: var(--color-grey);
  font-family: "Roboto", serif;
  color: #fff;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.4rem;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

header {
  padding: 1.5rem;
  border-bottom: 1px solid var(--color-yellow);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 200px;
  flex-wrap: wrap;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.75rem;
  position: relative;
}

header nav a:hover {
  color: var(--color-yellow);
}

header nav a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-yellow);
  position: absolute;
  bottom: -2px;
  left: 0;
}
header nav a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

header nav a.active {
  color: var(--color-yellow);
}

.card {
  width: 800px;
  height: 500px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: up 1s ease-in-out;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
  }
}

.card section {
  background: white;
}

.card .image {
  background: url(https://source.unsplash.com/collection/3465564/900) no-repeat
    top center / cover;
}
